

body{
  overflow: hidden;
}

.navbar {
  text-align: right;
}

.outdiv {
  padding: 0 4% 0 4%;
}
@media screen and (min-width: 1024px) {
  .outdiv {
    padding: 0 4% 0 4%;
  }
}
@media screen and (min-width: 1440px) {
  .outdiv {
    padding: 0 7% 0 7%;
  }
}

.row > div {
  padding-left: 0px;
  padding-right: 0px;
}

.card > img {
  height: 90px !important;
  width: 100px !important;
  margin: 6% 0 6% 0;
}
.cardPararaph {
  font-size: 0.8rem;
  font-weight: 400;
  color: #6b7990;
  line-height: 1rem;
  padding-bottom: 4%;
  padding-top: 6%;
}
.card-title {
  font-weight: bold;
  font-size: 1.3rem;
}
.mainHead {
  font-size: 4rem;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .mainHead {
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 10%;
    text-align: center;
  }
}

.emailSubButton {
  width: 80%;
  height: 140%;
  border: solid 1px #a5b7ca;
  border-radius: 0.3rem;
}

.socialLogo > button {
  background: none;
  border: none;
}
.socialLogo > span {
  font-weight: bold;
  font-size: 1.2rem;
  color: #637082;
}

@media screen and (max-width: 770px) {
  .socialLogo {
    padding-top: 10%;
  }
}
@media screen and (max-width: 770px) {
  .emailSubButton {
    width: 100%;
    margin: auto;
  }

  .product {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .copyright {
    margin-bottom: 60px;
  }
}
.product > a {
  text-decoration: none;
  color: #6b7990;
  margin-right: 3%;
  margin-top: 50%;
}
.copyright > a {
  text-decoration: none;
  color: #6b7990;
}
.product {
  padding-top: 8%;
  padding-bottom: 5%;
  margin-left: -1%;
}
.copyright {
  padding-top: 3%;
  padding-bottom: 5%;
  margin-left: -1%;
}

@media screen and (min-width: 960px) {
  .playstorebtn {
    margin-left: 5%;
  }
}

@media screen and (max-width: 960px) {
  .appstorebtn {
    margin-left: 5%;
  }
  .playstorebtn {
    margin-left: 6%;
  }
}

@media screen and (max-width: 750px) {
  .appstorebtnBottom {
    margin-left: 0;
  }
  .playstorebtnBottom {
    margin-left: 0;
    margin-top: 2%;
  }
}
@media screen and (min-width: 960px) {
  .playstorebtnBottom {
    margin-bottom: 5%;
  }
}

.card{
  cursor: pointer;
  box-shadow: 5px 5px  5px rgba(0 ,0 ,0 ,.15) ;
  
  
}
.playstorebtnBottom:hover{
  cursor: pointer;
}
.appstorebtnBottom:hover{
  cursor: pointer;
}
.playstorebtn:hover{
  cursor: pointer;
}
.appstorebtn:hover{
  cursor: pointer;
}